.arrow {
    border: 1px solid var(--blue);
    color: var(--blue);
    border-radius: 50%;
    padding: 0.2rem 0.42rem;
    margin-left: 0.4rem;
    transition: 400ms ease-in-out;
}

.arrow:hover {
    border: 1px solid var(--pink);
    background-color: var(--pink);
    color: white;
    transition: 400ms ease-in-out;
}

a:hover > .arrow {
    color: white;
    border: 1px solid var(--pink);
    background-color: var(--pink);
    transition: 400ms ease-in-out;
}