.banner {
    height: 100vh;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
    justify-content: center;
    grid-gap: 6rem;
}

.banner > img {
    align-items: flex-end;
}

.banner-profile-img {
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-image: url(../assets/sheilaprofile.jpg);
    justify-self: self-end;
}

@media(max-width: 1200px) {
    .banner {
        grid-template-columns: 1fr;
        grid-gap: 0;
    }

    .banner-profile-img {
        justify-self: center;
    }

    .banner-text {
        margin: 0 auto;
    }
}