.card-grid {
    margin: 0 auto;
    margin-top: 4rem;
    width: 88vw;
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: 8rem;
    align-items: center;
    transition: 800ms ease-in-out;
    margin-bottom: 12rem;
}


.card-grid:hover {
    transform: scale(1.02);
    transition: 800ms ease-in-out;
}

.card-work-img {
    width: 32rem;
    height: 15rem;
    border-radius: 4px;
    background-size: cover;
    background-position: center;
}

.card-work-txt {
    text-align: left;
    margin-bottom: 1rem;
}

.card-title {
    text-align: left;
    font-size: 1.2rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
}

.card-text {
    color: #033033;
    font-weight: lighter;
}


.card-tag-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
    flex-wrap: wrap;
}

.card-tag {
    background: var(--teal);
    padding: 0.4rem 1rem;
    border-radius: 24px;
    color: white;
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 0.09rem;
    font-size: 0.7rem;
    text-align: center;
    margin-bottom: 1rem;
}

@media(max-width: 1200px) {
    .card-grid {
        justify-content: center;
        grid-template-columns: 1fr;
        margin-bottom: 8rem;
    }

    .card-work-img {
        width: 100%;
        height: 12rem;
    }
}

@media(max-width: 700px) {
    .card-work-img {
        width: 100%;
        height: 24rem;
    }
}