.lost-container {
    width: 100vw;
    height: 100vh;
    background-color: var(--teal);
    text-align: center;
}

.lost-text {
    padding: 16% 0;
}

.lost-text > p {
    padding-bottom: 2vh;
}

.lost-title {
    color: white;
    margin-top: 0;
}

.lost-text > a:hover {
    color: white;
}