@import "colours.css";


@import "arrow.css";
@import "banner.css";
@import "body.css";
@import "button.css";
@import "card.css";
@import "footer.css";
@import "section.css";
@import "tag.css";
@import "text.css";