.section-text {
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 8rem;
}

.section-work {
    text-align: center;
}

.section-title {
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
    font-weight: normal;
    margin-top: 12rem;
    margin-bottom: 8rem;
}

.section-connect {
    text-align: center;
}

@media(max-width: 700px) {
    .section-text {
        padding: 2rem;
    }

    .section-title {
        padding: 2rem;
    }

    .section-connect > p {
        padding: 0.6rem 2rem;
    }
}