.banner-tags {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    width: fit-content;
}

.tag-banner {
    width: 16rem;

    border-radius: 2px;
    height: 2.4rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.08rem;
    font-weight: lighter;
}

.tag-pink {
    background-color: var(--pink);
    transition: transform 400ms ease-in-out;

}

.tag-pink:hover {
    transform: scale(1.04);
    transition: transform 400ms ease-in-out;
}

.tag-blue {
    background-color: var(--blue);
    transition: transform 400ms ease-in-out;
}

.tag-blue:hover {
    transform: scale(1.02);
    transition: transform 400ms ease-in-out;
}
