.em-pink {
    color: var(--pink);
}

.em-blue {
    color: var(--blue);
}

.em-green {
    color: var(--teal);
}

a {
    text-decoration: none;
    color: #033033;
    transition: 400ms ease-in-out;
}

a:hover {
    text-decoration: none;
    color: var(--pink);
    transition: 400ms ease-in-out;
}